// TO DO: Move variables to _variables.scss
$sidebar-width: 220px;
$sidebar-bg: #fff;
$sidebar-color: #555;
$sidebar-active-bg: #e0e0e0;
$sidebar-active-color: #222;
$sidebar-border-color: transparent;


// This class goes on body. It applies to ALL sidebars.
// -----------------------
.sidebar-is-open {
    @media (max-width: $screen-xs-max) {
        overflow-y: hidden;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}


// TO DO: Convert to mixin.
.sidebar {
    position: fixed;
    top: 0;   
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: $sidebar-bg;
    display: block;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;
    box-shadow: 0px 2px 15px -5px rgba(0,0,0,.2);

    .sidebar-outer {
        display: block;
        min-width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        position: relative;
        z-index: 3;
        height: 100%;

        .sidebar-inner {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;      
            display: block;
            width: 100%;
            
        }
    }

    @media (max-width: $screen-xs-max) {
        .sidebar-outer {
            padding-right: 30px;
            margin-right: -30px;
        }
    }

    @media (min-width: $screen-sm-min) {
        width: $sidebar-width;

        .sidebar-outer {
            height: 100vh;
            min-width: $sidebar-width + 30px;

            .sidebar-inner {
                width: $sidebar-width;
            }
        }
    }
}

.sidebar-item {
    display: block;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 1px 0 0;
    border-color: darken($sidebar-bg, 2%);

    // TO DO: convert to single class name
    .sidebar-item-element {
        display: block;
        min-height: 60px;
        line-height: 20px;
        padding: 20px 15px;
        font-family: inherit;
        font-size: 14px;
        position: relative;
        background-color: $sidebar-bg;
        color: $sidebar-color;
        text-decoration: none;
        @media (min-width: $screen-sm-min) {
            min-height: 50px;
            padding: 15px 15px;
        }
    }
    a.sidebar-item-element {
        padding-right: 40px;
        @media (min-width: $screen-sm-min) {
            &:hover, &:active, &:focus {
                background-color: darken($sidebar-bg, 5%);
            }
        }
    }
    
    .sidebar-item-icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        font-size: 16px;
        + .sidebar-item-text {
            margin-left: 30px;
            display: block;
        }
    }

    &.sidebar-item-has-children {
        & > a {
            &:after {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
                font-size: 20px;
                font-family: FontAwesome;
                content: '\f107';
            }
        }
        &.sidebar-item-active {
            & > a {
                &:after {
                    content: '\f106';
                }
            }
        }
    }

    &.sidebar-item-active {
        > a {
            background-color: $sidebar-active-bg;
            color: $sidebar-active-color;
            @media (min-width: $screen-sm-min) {
                &:hover, &:active, &:focus {
                    background-color: darken($sidebar-active-bg, 5%);
                }
            }
        }
        > .sidebar-item-submenu {
            display: block;
        }
    }
}

.sidebar-item-submenu {
    margin: 0;
    padding: 0;
    display: none;

    .sidebar-item {
        border-color: darken($sidebar-bg, 5%);
        a {
            background-color: darken($sidebar-bg, 5%);
            @media (min-width: $screen-sm-min) {
                &:hover, &:active, &:focus {
                    background-color: darken($sidebar-bg, 10%);
                }
            }
        }
    }
}

// Modifiers:
// -----------------------
.sidebar-visible {
    &.sidebar {
        transform: translateX(0);
        @media (min-width: $screen-sm-min) {
            &.sidebar-push-page-content {
                & + .page-content {
                    margin-left: $sidebar-width;
                }
            }
        }
    }
}

.navbar + .main-container-inner .sidebar {
    top: $navbar-height;
    .sidebar-outer {
        @media (min-width: $screen-sm-min) {
            height: calc(100vh - #{$navbar-height});
        }
    }
}