// Sidebar needs this particular environment
.main-container-outer {
    height: 100%;
    .main-container-inner {
        display:block;
        min-height: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    }
}
.page-content {
    position: relative;
    margin: 0;
    padding: 15px;
}

// What happens when there's a navbar at a top.
.navbar + .main-container-inner {
    .sidebar {
        top: $navbar-height;
        .sidebar-outer {
            height: calc(100vh - #{$navbar-height});
        }
    }
}

// What happens when there's a fixed navbar at the top.
.navbar-fixed-top + .main-container-inner {
    padding-top: $navbar-height;
}